{% extends 'layout.html' %}
{% block body %}
    <section class="body">

			{% include 'partials/header.html' %}

			<div class="inner-wrapper">
				{% include 'partials/sidebar.html' %}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Advanced Forms</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Forms</span></li>
								<li><span>Advanced</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"></a>
						</div>
					</header>

					<!-- start: page -->
						<div class="row">
							<div class="col-xs-12">
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
											<a href="#" class="fa fa-times"></a>
										</div>

										<h2 class="panel-title">Add New Feature Request</h2>
									</header>
									<div class="panel-body">
										<form class="form-horizontal form-bordered" method="post" action="{{ request.path }}">
											{{ form.hidden_tag() }}
											<input type="hidden" name="client_id" value="{{ obj_client.id }}">
											<div class="form-group">
												<label for="title" class="col-md-3 control-label">Title</label>
												<div class="col-md-7">
													<input name="title" id="title" data-role="title" data-tag-class="label label-primary" class="form-control" value="{{ form.title.data }}" required />
													<br>
													{% if form.title.errors %}
														<ul class='error'>
															{% for error in form.title.errors %}
															<li>{{ error }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label" for="description">Description</label>
												<div class="col-md-7">
													<textarea name="description" class="form-control" rows="3" data-plugin-maxlength maxlength="140" id="description" required>{{ form.description.data }}</textarea>
													<p>
														<code>max-length</code> set to 140.
													</p><br>
													{% if form.description.errors %}
														<ul class='error'>
															{% for error in form.description.errors %}
															<li>{{ error }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">Product Area</label>
												<div class="col-md-7">
													<select data-plugin-selectTwo class="form-control populate" name="product_area_id" value="{{ form.product_area_id.data }}">
														<optgroup label="Product Areas">
															{% for area in product_areas %}
																<option value="{{ area.id }}">{{ area.title }}</option>
															{% endfor %}
														</optgroup>
													</select>
													<br>
													{% if form.product_area_id.errors %}
														<ul class='error'>
															{% for error in form.product_area_id.errors %}
															<li>{{ error }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
											<div class="form-group">
												<label for="priority" class="col-md-3 control-label">Priority</label>
												<div class="col-md-7">
													<input name="priority" min="1" id="priority" data-role="priority" type="number" min="1" max="{{ max_value }}" data-tag-class="label label-primary" class="form-control" value="{{ form.priority.data }}" required />
													<br>
													{% if form.priority.errors %}
														<ul class='error'>
															{% for error in form.priority.errors %}
															<li>{{ error }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>

											<div class="form-group">
												<label class="col-md-3 control-label">Target Date</label>
												<div class="col-md-7">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
														<input id="target_date" name="target_date" type="date" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
													</div>
													{% if form.target_date.errors %}
														<ul class='error'>
															{% for error in form.target_date.errors %}
															<li>{{ error }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<button type="submit" class="btn btn-sm btn-success">Submit</button>
												</div>
											</div>

										</form>
									</div>
								</section>
							</div>
						</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
{% endblock %}

{% block script %}
	<script>
		document.getElementById('target_date').min = new Date().toISOString().split('T')[0]
	</script>
{% endblock %}