<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<meta name="keywords" content="Feature Request" />
		<meta name="description" content="Feature Request Application for IWS">
		<meta name="author" content="stikks">
        <title>Feature Request | {{ title }}</title>

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="/static/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>

        {% block body %}
        {% endblock %}

		<!-- Vendor -->
		<script src="/static/vendor/jquery/jquery.js"></script>
		<script src="/static/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="/static/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="/static/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="/static/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="/static/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="/static/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="/static/javascripts/theme.init.js"></script>

	</body>
</html>