{% extends 'layout.html' %}
{% block body %}
    <section class="body">

            {% include 'partials/header.html' %}

			<div class="inner-wrapper">

                {% include 'partials/sidebar.html' %}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>404</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{{ url_for('core.index') }}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>404</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"></a>
						</div>
					</header>

					<!-- start: page -->
						<section class="body-error error-inside">
							<div class="center-error">

								<div class="row">
									<div class="col-md-8">
										<div class="main-error mb-xlg">
											<h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
											<p class="error-explanation text-center">We're sorry, but the page you were looking for doesn't exist.</p>
										</div>
									</div>
									<div class="col-md-4">
										<h4 class="text">Here are some useful links</h4>
										<ul class="nav nav-list primary">
											<li>
												<a href="{{ url_for('core.index') }}"><i class="fa fa-caret-right text-dark"></i> Home</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

		</section>
{% endblock %}