{% extends 'layout.html' %}
{% block body %}
    <section class="body">

			{% include 'partials/header.html' %}

			<div class="inner-wrapper">
				{% include 'partials/sidebar.html' %}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Home</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{{ url_for('core.index') }}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<!--<li><span>Clients</span></li>-->
								<!--<li><span>List</span></li>-->
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="fa fa-caret-down"></a>
									<a href="#" class="fa fa-times"></a>
								</div>

								<h2 class="panel-title">Clients</h2>
							</header>
							<div class="panel-body">
								<table class="table table-bordered table-striped" id="datatable-ajax" data-url="/ajax/clients">
									<thead>
										<tr>
											<th width="60%">Name</th>
											<th width="20%">#</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</section>
					<!-- end: page -->
				</section>
			</div>
		</section>
{% endblock %}

{% block script %}

	<script>
		(function( $ ) {

			'use strict';

			var datatableInit = function() {

				var $table = $('#datatable-ajax');
				$table.dataTable({
					bProcessing: true,
					sAjaxSource: $table.data('url'),
					aoColumns: [
            		{ "mData": 'name', "sTitle": "Name",
            			mRender: function(data, type, full) {
							return full[0];
						  }
            		},
            		{
					  mData: null,
					  bSortable: false,
					  mRender: function(data, type, full) {
						return '<a class="btn btn-info btn-sm" href=/clients/' + full[1] + '/feature-requests>' + 'Feature Requests' + '</a>';
					  }
					}]
				});

			};

			$(function() {
				datatableInit();
			});

		}).apply( this, [ jQuery ]);
	</script>
{% endblock %}